.service{
    background:url('../../assets/landingPage/elaosboa79384 1.png')no-repeat center top;
    background-size:100% 100%;
}
.aboutPage{
    background:url('../../assets/landingPage/guy-shows.svg')no-repeat center top;
    background-size:100% 100%;
}

